#hero {
  height: 100vh;
  background: url(https://res.cloudinary.com/dglxjd018/image/upload/q_10/v1596574111/pls/hero_bg_otxsv5.png);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
