#hero {
  height: 100vh;
  background: url(https://res.cloudinary.com/dglxjd018/image/upload/o_20/v1598304876/PreLawSociety/Hero_Background_suypd1.png);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;

  .bottom-btn {
    cursor: pointer;
    padding: 2rem 2rem 0 2rem;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    line-height: 3rem;

    animation: subtleJump 0.75s ease-in-out infinite alternate backwards;

    span {
      display: block;
      font-size: 3rem;
      font-weight: 600;
    }

    i {
      font-size: 2.5rem;
    }
  }

  .hero-content {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;

    .text {
      width: 50%;
      height: 100%;
      margin-left: 4.5%;
      padding-left: 11px;
      position: relative;

      .text-content {
        position: absolute;
        top: 40%;
        transform: translateY(-50%);
        width: 60%;

        .title {
          font-weight: 600;
          font-size: 5rem;
          color: #c4a300;
          text-shadow: -1px 1px rgba(0, 0, 0, 0.3);
        }

        .subtitle {
          font-size: 2.5rem;
        }

        .btns {
          .btn-container button {
            font-size: 2.5rem;
          }

          display: flex;
        }
      }
    }

    .svg-container {
      height: 95vh;
      width: 50%;
      display: grid;
      grid-template-columns: auto;
    }
  }
}

@media screen and (max-width: 1600px) {
  #hero svg {
    transform: scale(0.8);
  }
}

@media screen and (max-width: 1400px) {
  #hero {
    svg {
      transform: scale(0.7);
    }

    .hero-content .text .text-content {
      h1.title {
        font-size: 4.5rem;
      }

      p.subtitle,
      button {
        font-size: 2rem;
      }
    }
  }
}

@media screen and (min-height: 750px) {
  #hero .hero-content .svg-container {
    height: 90vh;
  }
}

@media screen and (min-height: 900px) {
  #hero .hero-content .svg-container {
    height: 85vh;
  }
}

@media screen and (min-height: 1100px) {
  #hero .hero-content .svg-container {
    height: 81vh;
  }
}

@media screen and (max-width: 1150px) {
  #hero {
    svg {
      transform: scale(0.7);
    }

    .hero-content .text .text-content {
      h1.title {
        font-size: 4.25rem;
      }

      p.subtitle,
      button {
        font-size: 1.75rem;
      }
    }
  }
}

@media screen and (max-width: 920px) {
  #hero {
    .hero-content {
      flex-wrap: wrap;

      .text {
        width: 100%;
        margin-left: 0;
        padding-left: 0;

        .text-content {
          text-align: center;
          width: 60%;
          position: relative;
          margin: auto;

          h1.title {
            font-size: 4.25rem;
          }

          p.subtitle,
          .btns .btn-container button {
            font-size: 1.75rem;
          }

          .btns {
            display: inline;
          }
        }
      }

      svg {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 920px) {
  #hero .hero-content .text .text-content {
    top: 30%;

    h1.title {
      font-size: 3.5rem;
    }

    p.subtitle {
      font-size: 1.25rem;
    }

    .btns .btn-container button {
      font-size: 2rem;
    }
  }
}

@media screen and (max-height: 360px) {
  #hero .hero-content .text .text-content {
    top: 22.5%;

    .btns {
      display: none;
    }
  }
}

@keyframes subtleJump {
  0% {
    transform: translate(-50%, 0rem);
  }

  100% {
    transform: translate(-50%, -2rem);
  }
}
