#hero {
  height: 100vh;
  background: url(https://res.cloudinary.com/dglxjd018/image/upload/v1597698422/PreLawSociety/Hero_Background_g4glyq.png);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
