.gallery-list {
  margin: 0 auto;
  width: 100rem;
  height: 56.25rem;

  .carousel-inner {
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.3) -1px 2.5px 10px,
      rgba(0, 0, 0, 0.2) -1px 6px 25px;
  }

  .custom-carousel-caption {
    padding: 1rem 0;
    background: rgba(0, 0, 0, 0.75);
    border-radius: 5px;
    font-weight: 600;
    font-size: 2rem;
  }
}

// mobile responsive
@media screen and (max-width: 1250px) {
  .gallery-list {
    width: 85rem;
    height: 47.8125rem;

    .custom-carousel-caption {
      font-size: 1.7rem;
    }

    .gallery-image {
      width: 85rem;
      height: 47.8125rem;
    }
  }
}

@media screen and (max-width: 1000px) {
  .gallery-list {
    width: 70rem;
    height: 39.375rem;

    .custom-carousel-caption {
      font-size: 1.4rem;
    }

    .gallery-image {
      width: 70rem;
      height: 39.375rem;
    }
  }
}

@media screen and (max-width: 750px) {
  .gallery-list {
    width: 48rem;
    height: 27rem;

    .custom-carousel-caption {
      font-size: 1rem;
    }

    .gallery-image {
      width: 48rem;
      height: 27rem;
    }
  }
}

@media screen and (max-width: 550px) {
  .gallery-list {
    width: 35rem;
    height: 19.6875rem;

    .custom-carousel-caption {
      font-size: 0.9rem;
    }

    .gallery-image {
      width: 35rem;
      height: 19.6875rem;
    }
  }
}

@media screen and (max-width: 450px) {
  .gallery-list {
    width: 33rem;
    height: 18.5625rem;

    .custom-carousel-caption {
      font-size: 0.8rem;
    }

    .gallery-image {
      width: 33rem;
      height: 18.5625rem;
    }
  }
}

@media screen and (max-width: 350px) {
  .gallery-list {
    width: 28rem;
    height: 15.75rem;

    .custom-carousel-caption {
      font-size: 0.8rem;
    }

    .gallery-image {
      width: 28rem;
      height: 15.75rem;
    }
  }
}
