.gallery-list {
  position: relative;
  max-width: 60rem;
  margin: 0 auto;

  $i: 0;
  @for $i from 0 to 3 {
    &.active-image-#{$i} #image-#{$i} {
      opacity: 1;
      scale: 1;
    }
  }

  .gallery-list-container {
    display: flex;
    position: absolute;
    transition: transform 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  }
}
