.btn-container {
  display: flex;
  justify-content: center;
  margin: 2rem;

  button {
    background: none;
    border: 2px solid #c4a300;
    border-radius: 6px;
    color: #c4a300;
    padding: 0.75rem 4rem;
    font-size: 1.6rem;
    transition: all 0.3s ease;

    &:hover {
      scale: 1.025;
      background: #c4a300;
      color: white;
      box-shadow: -3px 4px 5px rgba(0, 0, 0, 0.35);
    }

  }
}