.values-title {
  max-width: 90%;
  width: 100rem;
  padding-left: 0.5rem;
  margin: auto;
  text-align: left;

  h2 {
    font-size: 4rem;
    color: #ffd600;
    font-weight: 600;
    margin-bottom: 1.5rem;
    text-shadow: -1px 1px 1px rgba(0, 0, 0, 0.2);
  }
}
