.value-card {
  margin: auto;
  height: 55rem;
  width: 100rem;
  max-width: 90%;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 8px;
  margin-bottom: 5rem;
  box-shadow: rgba(0, 0, 0, 0.3) -1px 2.5px 3px,
    rgba(0, 0, 0, 0.3) -1px 6px 14px;

  transition: 0.3s ease;

  &:hover {
    transform: scale(1.025);

    box-shadow: rgba(0, 0, 0, 0.3) -2px 3.5px 4px,
      rgba(0, 0, 0, 0.3) -2px 7px 15px;
  }

  .darkness {
    background: rgba(0, 0, 0, 0.7);
    height: 100%;
    width: 100%;
    border-radius: inherit;

    .text-container {
      position: absolute;
      top: 45%;
      left: 50%;
      transform: translate(-50%, -50%);

      width: 60%;

      border-radius: inherit;
      text-align: center;

      .number {
        color: #ffd600;
        font-weight: 700;
        margin-bottom: 2rem;
        font-size: 8rem;
        text-shadow: -3px 3px 1px rgba(0, 0, 0, 1);
      }
      .text {
        color: white;
        font-weight: 600;
        letter-spacing: 0.1rem;
        font-size: 2.25rem;
      }
    }
  }
}

@media screen and (max-width: 624px) {
  .value-card {
    height: 50rem;
    .darkness .text-container {
      .number {
        font-size: 7rem;
      }
      .text {
        font-size: 1.8rem;
      }
    }
  }
}

@media screen and (max-width: 350px) {
  .value-card .darkness .text-container {
    .number {
      font-size: 6rem;
    }
    .text {
      font-size: 1.5rem;
    }
  }
}
